BOT_TOKEN=
BACKUP_REDACTED_SET_LOCALLY
MONGODB_URI=
OWNER_IDS=350920766
SCREENSHOTS_DIR=./screenshots
SITE_CHAT_ID=-4961062249,350920766,-5094364912,-1003366539033
SITE_NAMES=OpenFFA2025,TBTF2025,TEST,KingMap
SITE_PORT=3000
SITE_ANALITICS_PORT=3010
PLAYER_STATS_URL=https://q2.agly.eu/?lang=ru&r=r_690a3a4156df3
PLAYER_STATS_ENABLED=TRUE
OUTBOUND_MIN_INTERVAL_MS=1100
REGISTRATION_BOT=https://t.me/TornamentFFATestbot
SECTIONS_EDIT_TIMEOUT_SECONDS=30
DONATION_ALERTS=https://www.donationalerts.com/r/alexyenov
SERVERS_API=http://localhost:3001
Q2PROX_YANDEX_API_KEY=
BACKUP_REDACTED_SET_LOCALLY
